div {
  border: 2px solid gray;
  outline: solid black 10px;
  margin: auto;  
  padding: 0px;

}

.alert {
  background-color: yellow;
  border:none;
  outline:none;
}
  
    h2 {
     color:mediumblue;
     margin-left:0px;
    }
    
    h3 {
      color: mediumblue;
      margin-left:0px;
    }
    
    h4 {
      color: mediumblue;
      margin-left:20;
    }
    
    p {
        color: black;
         font-weight: bold;
        
    }
    
   p2 {
       color: gray;
   }
 
   body {
  height: 200px;
  width: 800px;
  background-color: white;
}
      
 
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightgray;
}
    
 img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
    }
    .box{
        width: 250px;        
        border: 5px solid black;
    }    
    .box.large{
        height: 300px;
    }
    .box.small{
        height: 100px;
    }

