
  
    h2 {
     color:mediumblue;
     margin-left:0px;
    }
    
    h3 {
      color: mediumblue;
      margin-left:0px;
    }
    
    h4 {
      color: mediumblue;
      margin-left:20;
    }
    
    p {
        color: black;
         font-weight: bold;
    }
    
   p2 {
       color: gray;
   }
 